html,
body,
.wrapper {
    height: 100%;
    width: 100%;
    background-color: #1e2227;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.title {
    color: white;
    font-size: 100px;
}

td {
    background-color: white;
    padding: 25px;
}


th {
    color: white;
    background-color: black;
}

form {
    font-size: xx-large;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 50px;
}

#addBookButton {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 50%;
}